@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  position: relative;
  margin: 0;
  height: 100vh;
  font-size: 12.6px;
  background-image: linear-gradient(
    to right bottom,
    #384959,
    #28486a,
    #173860,
    #0a2e61,
    #0b2260
  );
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji",
    "Segoe UI Symbol";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.dark_mode_bg_items{
  background-color: #1f2a40 !important;
}

.text-dashboard{
  color: #4CCEAC;
}

.dark_mode_bg{
  background-color: #141b2d !important;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

ul {
  list-style: none;
}

input {
  padding: 5px;
  outline: none;
  border-radius: 3px;
  border: 1px solid #848484;
}

.app-container {
  height: 100vh;
  padding: 0 8px;
  header {
    height: 50px;
    padding: 0px 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    .logo {
      height: 50px;
      user-select: none;
    }
    .btnMenu {
      user-select: none;
      padding: 5px 15px;
      font-size: 15px;
      line-height: 15px;
      margin: 0 auto;
      color: white;
      border: 1px solid #fff;
      border-radius: 5px;
      cursor: pointer;
      overflow: hidden;
      &:hover {
        background-color: #006645;
      }
    }
    .header-right {
      display: flex;
      align-items: center;
    }
  }
  .containers {
    flex-direction: column;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    overflow: hidden;
    height: calc(100vh - 90px);
  }

  footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 40px;
    color: white;
    .footer-left {
      color: rgb(0, 149, 255);
    }
    .language {
      display: flex;
      align-items: center;
      background-color: rgba(167, 170, 200, 0.365);
      border-radius: 2px;
      margin: 0;
      height: 18px;
      span {
        height: 100%;
        width: 24px;
        padding: 3px;
        cursor: pointer;
      }
      .active {
        background-color: rgb(127, 200, 249);
        border-radius: 5px;
      }
      img {
        width: 100%;
        height: 100%;
      }
    }
  }
}



.btn_remove_style{
  border: unset;
  background: none;
}

.relative {
  position: relative;
}
.absolute {
  position: absolute;
  top: 0px;
  left: 0px;
}
.modal_confirm__btns {
  width: 100%;
  text-align: end;
}

.bg_login{
  background: linear-gradient(to right, #002d63, #044d68, #094365, #054361);
}

.border_login{
  border: 1px solid #d2d2d2;
}

.border{
  border-radius: 10px;
  border: 1px solid #4CCEAC;
}

.ant-modal-content{
  padding: 0 !important;
}

.modal__css{
  // overflow-y: scroll;
  width: 100% !important;
  height: 250px;
}

.modal_confirm {
  width: 100%;
  height: 100%;
  background-color: #6c6c6c77;
  z-index: 12000;
}
.modal_confirm__btn__close {
  transition: all 0.2s linear;
  font-weight: 550;
  cursor: pointer;
  border: unset;
  background-color: white;
  padding: 6px 16px;
}
.m-0{
  margin: 0px !important;
  font-size: 18px;
}
.modal_confirm__btn__close:hover{
  background-color: rgb(234, 234, 234);
}
.modal_confirm__btn__delete:hover{
  color: red;
  background-color: rgb(255, 198, 198);
}
.modal_confirm__btn__delete {
  transition: all 0.2s linear;
  font-weight: 550;
  margin-left: 4px;
  border: unset;
  cursor: pointer;
  color: white;
  background-color: rgb(255, 0, 0);
  padding: 6px 16px;
}
.over{
 height: 380px;
 overflow: scroll;
}
.bg-white {
  border-radius: 4px;
  width: 380px;
  background-color: white;
  padding: 10px 20px;
}

.icon1 {
  cursor: pointer;
  color: rgb(255, 211, 14);
  font-size: 14px;
}
.status__items {
  margin-right: 4px;
  margin-top: 2px;
  border-radius: 50%;
  width: 10px;
  height: 10px;
  background-color: green;
}

.under_text {
  color: rgb(17 73 157);
  text-decoration: none;
}

.under_text:hover {
  color: rgb(0, 38, 255);
  text-decoration: none;
}

.icon2 {
  cursor: pointer;
  color: rgb(0, 145, 255);
  font-size: 14px;
  margin-right: 5px;
}
.items__table {
  font-size: 13px;
}

.icon3 {
  font-size: 14px;
  cursor: pointer;
  margin-left: 5px;
  color: rgb(0, 145, 255);
}
.icon3:hover {
  color: rgb(221, 0, 255);
}

.remove__btn {
  cursor: pointer;
  color: red;
}
.remove__btn:hover {
  color: blue;
}

.header_flex {
  padding: 0px !important;
  position: relative;
}

.icon_header1 {
  height: 4px;
  font-size: 10px;
  transform: translateY(2px);
}
.icon_header2 {
  height: 5px;
  font-size: 10px;
  transform: translateY(-2px);
}

.icon_header {
  position: absolute;
  top: 0;
  right: 0px;
  color: #596265;
  display: flex;
  align-items: start;
  justify-content: start;
  flex-direction: column;
  font-size: 8px;
  margin-left: 10px;
}

.icon_header_action {
  color: rgb(198, 0, 0) !important;
}

.btn_header_table {
  cursor: pointer;
}
.btn_header_table:hover {
  background-color: #e0c8a1;
}
.relative {
  position: relative;
}

.loading__modal {
  top: 0px !important;
  z-index: 12000 !important;
  position: absolute;
  background-color: #0000003f !important;
  width: 100% !important;
  height: 100% !important;
  display: flex !important;
  justify-content: center !important;
  align-items: center !important;
}

.loading__icons {
  top: -80px;
  z-index: 12000;
  position: absolute;
  background-color: #00000011 !important;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.icon1:hover {
  color: rgb(255, 128, 0);
}
.icon2:hover {
  color: rgb(5, 81, 139);
}
.color_mix {
  color: #22971d;
  font-weight: 700;
}
.color_usd {
  color: rgb(7 89 208);
  font-weight: 700;
}
.remove__btn__disable {
  color: #798588;
  cursor: pointer;
}
.header__modal {
  font-weight: 400;
  margin: 0px;
  padding: 6px;
  color: white;
  text-align: center;
  background-color: #0a2e61;
}

.flex_s {
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.tool-bar-error {
  width: 100%;
  display: flex;
  font-weight: 500;
  background-color: #96a2d236;
  padding: 5px 5px;
  align-items: center;
  justify-content: start;

  color: white;
  .icon {
    margin-right: 10px;
  }

  .link-text {
    text-transform: capitalize;
  }

  .right {
    display: flex;
    align-items: center;
    margin-right: 15px;
    .btn {
      user-select: none;
      height: 25px;
      width: 40px;
      display: flex;
      align-items: center;
      justify-content: center;
      background-color: #b9f3fa46;
      border-radius: 5px;
      margin: 0 3px;
      cursor: pointer;
      color: #fff;
      &:hover {
        background-color: #b9f3fa33;
      }
      span {
        font-size: 12px;
      }
      i {
        font-size: 14px;
      }
    }
  }

  .left {
    display: flex;
    align-items: center;
    justify-content: center;

    .tab-list {
      width: auto;
      display: flex;
      justify-content: center;
      align-items: center;
      border-radius: 5px;
      overflow: hidden;

      .tabs {
        padding: 2px 10px;
        cursor: pointer;
        background-color: white;
        color: #0e0e0e;
        &:hover {
          background-color: rgb(36 131 148);
          color: white;
        }
      }
    }

    .active-tab {
      padding: 2px 10px;
      background-color: rgb(36 131 148);
      color: white;
    }
  }
}

.tool-bar {
  width: 100%;
  display: flex;
  font-weight: 500;
  background-color: #96a2d236;
  padding: 5px 5px;
  align-items: center;
  justify-content: space-between;

  color: white;
  .icon {
    i {
      margin-right: 10px;
    }
  }
  .link-text {
    text-transform: capitalize;
  }

  .right {
    display: flex;
    align-items: center;
    margin-right: 15px;
    .btn {
      user-select: none;
      height: 25px;
      width: 40px;
      display: flex;
      align-items: center;
      justify-content: center;
      background-color: #b9f3fa46;
      border-radius: 5px;
      margin: 0 3px;
      cursor: pointer;
      color: white;
      &:hover {
        background-color: #b9f3fa33;
      }
      span {
        font-size: 12px;
      }
      i {
        font-size: 14px;
      }
    }
  }

  .left {
    display: flex;
    align-items: center;
    justify-content: center;
    .search {
      position: relative;
      margin-left: 25px;
      width: 130px;
      input {
        color: rgb(19, 19, 19);
        width: 100%;
        padding: 0;
        padding-left: 20px;
        border-radius: 10px;
      }
      i {
        position: absolute;
        color: #005467;
        top: 5px;
        left: 5px;
      }
    }
    .tab-list {
      width: auto;
      display: flex;
      justify-content: center;
      align-items: center;
      border-radius: 5px;
      overflow: hidden;
      .tabs {
        user-select: none;
        padding: 2px 10px;
        cursor: pointer;
        background-color: white;
        color: #0e0e0e;
        &:hover {
          background-color: rgb(36 131 148);
          color: white;
        }
      }
    }

    .active-tab {
      user-select: none;
      padding: 2px 10px;
      background-color: rgb(36 131 148);
      color: white;
    }
  }
}


.tab-content {
  height: calc(100% - 35px);
  width: 100%;
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: center;

  .content::-webkit-scrollbar-track {
    cursor: pointer;
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    background-color: #f5f5f5;
    border-radius: 10px;
  }

  .content::-webkit-scrollbar {
    cursor: pointer;
    width: 10px;
    height: 10px;
    background-color: #f5f5f5;
  }

  .content::-webkit-scrollbar-thumb {
    cursor: pointer;
    border-radius: 10px;
    background-image: -webkit-gradient(
      linear,
      left bottom,
      left top,
      color-stop(0.44, rgba(93, 92, 84, 0.368))
    );
  }

  .content {
    display: none;
  }
  .active-content {
    width: 100%;
    height: 100%;
    overflow: auto;
    display: block;
  }
  table {
    width: 100%;
    white-space: nowrap;
    border: 1px solid;
    border-collapse: collapse;
    th {
      user-select: none;
    }
    td,
    th {
      text-align: center;
      border: 1px solid #bac8d8;
      padding: 0 3px;
      text-transform: capitalize;
      .avatar {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        img {
          width: 40px;
          border-radius: 20px;
        }
      }
    }

    td {
      padding: 4px;
      div {
        padding: 0;
      }
      .status {
        border-radius: 5px;
        box-shadow: 0px 1px 2px #00000027;
      }
      .g-status {
        background-color: rgba(84, 244, 166, 0.289);
        color: rgb(0, 196, 0);
      }
      .r-status {
        background-color: rgba(255, 0, 0, 0.135);
        color: red;
      }
      .y-status {
        background-color: rgba(255, 255, 0, 0.348);
        color: rgb(170, 112, 3);
      }
      .p-status {
        background-color: rgba(226, 77, 226, 0.218);
        color: rgb(240, 5, 221);
      }
      .d-status {
        background-color: rgba(255, 255, 0, 0.348);
        color: rgb(170, 112, 3);
      }
    }

    thead {
      position: sticky;
      top: -1px;
      background-color: bisque;
    }
  }
}
.install {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  button {
    padding: 10px 15px;
    border-radius: 8px;
    border: none;
    background-color: #19c37d;
    color: white;
    font-weight: 500px;
    cursor: pointer;
    &:hover {
      background-color: #005467;
    }
  }
}

.login {
  box-sizing: border-box;
  width: 250px;
  display: flex;
  padding: 0 20px;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  overflow: hidden;

  .title {
    font-size: 20px;
    font-weight: 500;
    text-align: center;
    margin-bottom: 20px;
  }

  .text {
    margin-top: 10px;
  }
  .link {
    box-sizing: border-box;
    width: 100%;
    text-align: right;
  }
  input {
    box-sizing: border-box;
    width: 100%;
  }

  .input-password {
    position: relative;
    width: 100%;

    i {
      font-size: 13px;
      cursor: pointer;
      position: absolute;
      top: 8px;
      right: 15px;
    }
  }

  button {
    margin-top: 15px;
    padding: 8px;
    border-radius: 6px;
    outline: none;
    border: none;
    border: 1px solid #dedede;

    &.active {
      background-color: #19c37d;
      color: white;
    }
  }
}
.main-screen {
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
  padding: 5px;
  gap: 5px;
  .screen {
    box-sizing: border-box;
    border-radius: 5px;
    border: 1px solid #838383;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 50%;
    overflow: auto;
    .main {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }
    .row-form {
      width: 90%;
      display: flex;
      align-items: center;
      justify-content: flex-start;
      margin-bottom: 10px;
      span {
        min-width: 100px;
        max-width: 100px;
        text-transform: capitalize;
      }
      .select-content {
        width: 200px;
      }
      textarea {
        box-sizing: border-box;
        margin: 0;
        padding: 2px;
        width: 300px;
        height: 100px;
        outline: none;
        resize: none;
        border: 1px solid #838383;
        border-radius: 3px;
      }
      button {
        margin-top: 10px;
        padding: 7px 15px;
        text-transform: capitalize;
        background-color: #1bb992;
        border-radius: 5px;
        color: white;
        border: none;
        cursor: pointer;
        &:hover {
          background-color: #0a655f;
        }
      }
      .input {
        padding: 5px;
        outline: none;
        border-radius: 3px;
        border: 1px solid #848484;
      }
      .business-info {
        box-sizing: border-box;
        padding: 0px;
        margin: 0;
        background-color: #d3eea4;
        width: 250px;
        color: #ff0099;
        border-radius: 3px;
        border: 1px solid #848484;
      }
    }
    .log {
      border-radius: 5px;
      width: 95%;
      border: 1px solid #838383;
      min-height: 350px;
      overflow: auto;
      text-transform: capitalize;
      ul {
        padding: 0;
        margin: 0;
        li {
          padding: 1px 5px;
          border-bottom: 1px solid #0054673a;
        }
      }
      .header {
        text-align: center;
        background-color: #005467;
        color: white;
        font-weight: 500;
      }
    }
  }
}

.sidebar {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: fixed;
  top: 0;
  left: 0;
  margin: 0;
  padding: 0 5px;
  width: 200px;
  height: 100vh;
  animation: showSidebar 0.4s;
  background-image: linear-gradient(
    to right top,
    #384959,
    #005467,
    #005f62,
    #006645,
    #086a0e
  );
  z-index: 2;
  .Profile {
    display: flex;
    align-items: center;
    background-color: #b1c7a032;
    margin-bottom: 20px;
    padding: 5px 5px;
    color: rgb(41, 255, 102);
    border-radius: 5px;
    .avatar {
      display: flex;
      align-items: center;
      justify-content: center;
      margin-right: 5px;
      img {
        width: 40px;
      }
    }
    .controller {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      justify-content: center;
      .name {
        font-size: 15px;
        padding-left: 15px;
      }
    }
  }
  .top {
    width: fit-content;
    margin-top: 10px;
    margin-left: 15px;
  }
  .mid,
  .bottom {
    width: 100%;
  }
  .active {
    background-color: #d7d8ba62;
  }

  .bottom {
    .side-link {
      display: flex;
      align-items: center;
      padding-left: 15px;
      .icon {
        font-size: 30px;
      }
    }
  }
  .side-link {
    width: 93%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    color: #fff;
    padding: 5px 5px;
    font-size: 15px;
    white-space: nowrap;
    text-decoration: none;

    border-radius: 5px;
    margin-bottom: 1px;

    .icon {
      margin-right: 10px;
    }
    .link-text {
      text-transform: capitalize;
    }
  }

  @keyframes showSidebar {
    from {
      opacity: 0;
      width: 0;
    }
    to {
      opacity: 1;
      width: 200px;
    }
  }
}

.even-row {
  background-color: #f0f0f0; /* Màu xen kẽ cho hàng chẵn */
}

.odd-row {
  background-color: #ffffff; /* Màu xen kẽ cho hàng lẻ */
}

.border_sidebar > div >div > button:first-child{
  border-top: 1px solid #4CCEAC;

}



